
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 1fr;
    margin: 25px 25px;
    margin-bottom: 100px;
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;

    &:first-child{
        margin-top: 0px;
        padding-top: 25px;
    }

}

.paragraph{
    grid-column: 2/5;

    &:first-child{
        grid-column: 1/4;
        margin-left: 20px;
    }
}

.paragraph__img{
    width: auto;
    width: 300px;
    grid-column: 2/-1;
    margin-bottom: 50px;

}



.title{
    grid-column: 1/-1;
    margin-top: 0%;
}

.title--big{
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 0px;
}

.title--mid{
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 0px;
}

.text--main{
    font-weight: 500;
    font-size: 22px;
    line-height: 155%;
    margin-left: 10px;
}

.text--secondary{
    font-weight: 400;
    font-size: 20px;
    line-height: 155%;
    margin-left: 0px;
}

.slider__title{
    text-align: center;
}

.slider__text{
    grid-column: 2/4;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
}

.step{
    margin-top: 32px;
    display: flex;
    grid-column: 2/-1;
    font-weight: 800;
    letter-spacing: 4px;
    margin-bottom: 5px;
    

    &:first-child{
        grid-column: 1/-1;
    }
}

.step__img{
    width: 30px ;
    object-fit: contain;
    margin-right: 10px;
}

.step__text{
    margin: 0px;
}

@media(min-width:768px){

    .grid{
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 150px;
        max-width: 825px;
    }

    .paragraph{
        grid-column: 4/10;
    
        &:first-child{
            grid-column: 3/10;
        }
    }

    .title--big{
        grid-column: 2/9;
        font-size: 64px;
    }

    .title--mid{
        grid-column: 4/9;
        font-size: 48px;
    }

    .text--main{
        grid-column: 3/11;
        font-size: 30px;
    }

    .text--secondary{
        grid-column: 5/11;
        font-size: 25px;
    }

     .paragraph__img{
         grid-column: 4/-1;
         width:400px ;
     }

     .paragraph__img--first{
        grid-column: 7/-1;
     }     
}

@media(min-width:1150px){
    .grid{
        grid-template-columns: repeat(13, 1fr);
        margin-bottom: 150px;
        max-width: 1440px;
    }

    .title--big{
        grid-column: 2/8;
        font-size: 90px;
        line-height: 75px;
    }

    .title--mid{
        grid-column: 4/9;
        font-size: 48px;
    }

    .text--main{
        grid-column: 3/10;
        font-size: 35px;
    }

    .text--secondary{
        grid-column: 5/11;
        font-size: 30px;
    }

    .paragraph__img{
        grid-column: 4/-1;

    }

    .paragraph__img--first{
       grid-column: 10/-1;
       margin-top: 250px;
       width:400px ;
    }   
}