.footer{
    padding-top:45px;
    padding-bottom: 45px;
    color: white;
}

.footer__list{
    margin-left: 45px;
}

.footer__item{
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 30px;    

}

.footer__link{
    color: white;
    text-decoration: underline 5px $color; 

    &:hover{
            transition: all .3s;
            color: $color--hover;
            text-decoration: underline 5px $color--hover; 
        cursor: pointer;

        .dwm__letter, .contrast{
            transition: all .3s;
            fill: $color--hover;
        }
    }   

    svg{
        width: 70px;
    }
}

.contrast{
    fill: $color;
}

.dwm__letter{
    fill: white;
}

.reseau__svg{
    width: 32px;
    height: 32px;
    fill: $color;

    &:hover{
        transition: all .3s;
        fill: $color--hover;
    }
}

@media (min-width: 768px) {
    .footer__list {
      margin-left: 115px;
    }
  
    .footer__item {
      margin-bottom: 30px;
      font-size: 35px;
    }
  }