.proto__btn{
    background: url('../assets/images/button.png');
    border: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-position: center;
}