.proto__btn{
    background: url('../assets/images/button.png');
    border: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    background-position: center;
}

.slide__slide, .splide__slide{
    background-image: url('../assets/images/sol.png');
}

.footer{
    background: url('../assets/images/waterback.png');
}

.fouille{
    background-image: url('../assets/images/dirtback.png');
}

.content{
    background-image: url('../assets/images/coldback.png');
}

.switch{
    height: 168px;
}

.dirttocold{
    background-image: url('../assets/images/dirttocold.png');
}

.coldtodirt{
    background-image: url('../assets/images/coldtodirt.png');
}